<footer>
    <div class="container">
      <div class="cooperation">
        <ul class="cooperation__list">
          <il class="cooperation__item">
            <a href="" class="link cooperation__link">Our Locations</a>
          </il>
          <il class="cooperation__item">
            <a href="" class="link cooperation__link">Franchise</a>
          </il>
        </ul>
      </div>
      <p class="footer-title">homemade ice cream made 
          <br />
          <span>with passion</span>
      </p>
    </div>
    <div class="social-wrapper">
      <ul class="list social-set">
        <li class="social-set__item">
          <a class="link social-set__link" href="">
            <svg class="social-set__icon" width="32" height="32">
              <use href="../images/icons.svg#github"></use>
            </svg>
          </a>
        </li>
  
        <li class="social-set__item">
          <a class="link social-set__link" href="">
            <svg class="social-set__icon" width="32" height="32">
              <use href="../images/icons.svg#telegram"></use>
            </svg>
          </a>
        </li>
        <li class="social-set__item">
          <a class="link social-set__link" href="">
            <svg class="social-set__icon" width="32" height="32">
              <use href="../images/icons.svg#facebook"></use>
            </svg>
          </a>
        </li>
  
        </ul>
        </div>
        <a class="link link-contact" href="tel:+610383766284"
        ><span class="link-contact">Feel free to contact </span>+38 096 111 11 11
        </a>
        <small> <span>&copy;</span>2022 - IceCream.
          All Rights Reserved. </small>
  </footer>
  