<footer>
    <div class="container footer__container">
      <div class="footer-wrapper">
        <div class="title-wrapper">
          <p class="footer-title">homemade ice cream made 
          </p>
          <p class="footer-title-bold">with passion 
          </p>
        </div>
    
    
        <div class="contact-wrapper">
          <ul class="list social-set">
            <li class="social-set__item">
              <a class="link social-set__link" href="https://github.com/" target="_blank" rel="noopener noreferrer">
                <svg class="social-set__icon" width="32" height="32">
                  <use href="./images/icons.svg#github-f"></use>
                </svg>
              </a>
            </li>
    
            <li class="social-set__item">
              <a class="link social-set__link" href="https://web.telegram.org/k/" target="_blank" rel="noopener noreferrer">
                <svg class="social-set__icon" width="32" height="32">
                  <use href="./images/icons.svg#telegram-f"></use>
                </svg>
              </a>
            </li>
            <li class="social-set__item">
              <a class="link social-set__link" href="https://m.facebook.com/" target="_blank" rel="noopener noreferrer">
                <svg class="social-set__icon" width="32" height="32">
                  <use href="./images/icons.svg#facebook-f"></use>
                </svg>
              </a>
            </li>
    
            </ul>
            
            <a class="link link-contact" href="tel:+610383766284"
            ><span class="link-contact__text">Feel free to contact </span>+61 (0) 383 766 284
        </div>
      </a>
      </div>
    </div>
      <div class="copyright">
        <p class="copyright__text">© 2022 - IceCream.
          <span class="copyright-half">
            All Rights Reserved.
          </span>
                </p>
            </div>
      </footer>
      