<!-- <section class="gallery">
    <h2 class="visually-hidden">Ice Cream Gallery</h2>
        <img srcset="images/gallery/gallery-mob-320-1x.jpg 320w,
                    images/gallery/gallery-mob-320-2x.jpg 640w,
                    images/gallery/gallery-tab-768-1x.jpg 768w,
                    images/gallery/gallery-tab-768-2x.jpg 1536w,
                    images/gallery/gallery-desk-1280-1x.jpg 1280w,
                    images/gallery/gallery-desk-1280-2x.jpg 2560w"
            sizes="(min-width: 1280px) 1280px, (min-width: 768px) 768px, (min-width: 480px) 480px, 100vw"
            src="images/gallery/gallery-desk-1280-1x.jpg" alt="Ice Cream Gallery"
            class="gallery__img">
    
    
    
</section> -->


<section class="gallery">
    <div class="container">
        <h2 class="visually-hidden">Ice Cream Gallery</h2>
        <ul class="list gallery__list">
            <li class="gallery__item">
                <img class="gallery__img"
                    srcset="./images/gallery/gallery-img1-1x.jpg 1x,
                            ./images/gallery/gallery-img1-2x.jpg 2x"
                    src="./images/gallery/gallery-img1-1x.jpg" alt="Ice Cream in plate" />
            </li>
            <li class="gallery__item">
                <img class="gallery__img"
                    srcset="./images/gallery/gallery-img2-1x.jpg 1x,
                            ./images/gallery/gallery-img2-2x.jpg 2x"
                    src="./images/gallery/gallery-img2-1x.jpg" alt="Ice Cream in hand" />
            </li>
            <li class="gallery__item">
                <img class="gallery__img"
                    srcset="./images/gallery/gallery-img3-1x.jpg 1x,
                            ./images/gallery/gallery-img3-2x.jpg 2x"
                    src="./images/gallery/gallery-img3-1x.jpg" alt="Fruits Ice Cream" />
            </li>
            <li class="gallery__item">
                <img class="gallery__img"
                    srcset="./images/gallery/gallery-img4-1x.jpg 1x,
                            ./images/gallery/gallery-img4-2x.jpg 2x"
                    src="./images/gallery/gallery-img4-1x.jpg" alt="More Ice Cream" />
            </li>
            <li class="gallery__item">
                <img class="gallery__img"
                    srcset="./images/gallery/gallery-img5-1x.jpg 1x,
                            ./images/gallery/gallery-img5-2x.jpg 2x"
                    src="./images/gallery/gallery-img5-1x.jpg" alt="Girl with Ice Cream" />
            </li>
            <li class="gallery__item">
                <img class="gallery__img"
                    srcset="./images/gallery/gallery-img6-1x.jpg 1x,
                            ./images/gallery/gallery-img6-2x.jpg 2x"
                    src="./images/gallery/gallery-img6-1x.jpg" alt="Ice Cream in glass" />
            </li>
            <li class="gallery__item">
                <img class="gallery__img"
                    srcset="./images/gallery/gallery-img7-1x.jpg 1x, 
                            ./images/gallery/gallery-img7-2x.jpg 2x"
                    src="./images/gallery/gallery-img7-1x.jpg" alt="Selfie Ice Cream" />
            </li>
            <li class="gallery__item">
                <img class="gallery__img"
                    srcset="./images/gallery/gallery-img8-1x.jpg 1x,
                            ./images/gallery/gallery-img8-2x.jpg 2x"
                    src="./images/gallery/gallery-img8-1x.jpg" alt="Dog with Ice Cream" />
            </li>
            <li class="gallery__item">
                <img class="gallery__img"
                    srcset="./images/gallery/gallery-img9-1x.jpg 1x,
                            ./images/gallery/gallery-img9-2x.jpg 2x"
                    src="./images/gallery/gallery-img9-1x.jpg" alt="Coctail with Ice Cream" />
            </li>
            <li class="gallery__item">
                <img class="gallery__img"
                    srcset="./images/gallery/gallery-img10-1x.jpg 1x,
                            ./images/gallery/gallery-img10-2x.jpg 2x"
                    src="./images/gallery/gallery-img10-1x.jpg" alt="Donut with Ice Cream" />
            </li>
        </ul>
    </div>
</section>