<section class="gallery">
    <h2 class="visually-hidden">Ice Cream Gallery</h2>
    <!-- <img 
    srcset="images/gallery/gallery-mob-320-1x.jpg 320w
            images/gallery/gallery-mob-320-2x.jpg 640w
            images/gallery/gallery-tab-768-1x.jpg 768w
            images/gallery/gallery-tab-768-2x.jpg 1536w
            images/gallery/gallery-desk-1280-1x.jpg 1280w
            images/gallery/gallery-desk-1280-2x.jpg 2560w"
            sizes="(min-width: 1280px) 1280px, (min-width: 768px) 768px, (min-width: 320px) 320px, 100vw"
    src="images/gallery/gallery-desk-1280-1x.jpg" alt="Ice Cream Gallery"> -->
</section>